@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}
@mixin absoluteCenter {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}
/* Media query mixins. 
------------------------
0-600 = phone
600-900 = tablet (portrait)
900-1200 = tabet (landscape)
1200-1800 = default style application; no media query needed. 
1800+ = large/extra large viewports (big desktop screens) 
------------------------
Option 1 in _base.scss:
___________________________________
@mixin respond-phone {
    @media (max-width: 600px) {
        @content
    };
}
@mixin respond-tablet-p {
    @media (max-width: 900px) {
        @content
    };
}
@mixin respond-tablet-l {
    @media (max-width: 1200px) {
        @content
    };
}
@mixin respond-xl-desktop {
    @media (max-width: 1800px) {
        @content
    };
} 

Option 2 in _base.scss:
____________________________________
$breakpoint argument choices: 
- phone
- tablet-portrait
- tablet-landscape
- large-desktop
*/
@mixin respond($breakpoint) {
    @if $breakpoint == xlarge-desktop {
        @media (max-width: 112.5em) { // 1800px
            @content
        };
    }
    @if $breakpoint == tablet-landscape {
        @media (max-width: 75em) { // 1200px
            @content
        };
    }
    @if $breakpoint == tablet-portrait {
        @media (max-width: 56.25em) { // 900px
            @content
        };
    }
}  