$color-primary: #55c57a;
$color-primary-dark: #28b485;
$color-primary-light: #7ed56f;
$color-grey: #777;
$color-light-grey1: #f7f7f7;
$color-dark-grey: rgb(20, 19, 19);
$color-white: #fff;
$color-black: #000;
// Grid variables
$grid-width: 114rem;
$gutter-vert: 8rem;
$gutter-horiz: 6rem;
// Font size (Default is 1.6rem)
$default-font: 1.6rem