// Greens
$color-primary-light: #7ed56f;
$color-primary: #55c57a;
$color-primary-dark: #28b485;
// Oranges
$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;
// Blues
$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;
// Greys
$color-grey: #777;
$color-light-grey1: #f7f7f7;
$color-light-grey2: #eee;
$color-dark-grey: #141313;
// Black and white
$color-white: #fff;
$color-black: #000;
// Grid variables
$grid-width: 114rem;
$gutter-vert: 8rem;
$gutter-horiz: 6rem;
// Font size (Default is 1.6rem)
$default-font: 1.6rem