.nav {
    &__checkbox {
        display: none;
    }
    // Activates the checkbox hack, which brings the animation/nav menu out. 
    &__checkbox:checked ~ &__background {
        transform: scale(100);
    }
    // Activates the checkbox hack, which brings the animation/nav menu out. 
    &__checkbox:checked ~ &__nav {
        opacity: 1;
        width: 100%;
    }
    &__button {
        background-color: $color-white;
        border-radius: 50%;
        box-shadow: 0 1rem 3rem rgba($color-black, .1);
        cursor: pointer;
        height: 7rem;
        position: fixed;
        right: 6rem;
        text-align: center;
        top: 6rem;
        width: 7rem;
        z-index: 2000;
    }
    &__background {
        // 'Checkbox' behind the nav circle.
        background-image: radial-gradient($color-primary-light, $color-primary-dark); // Begins at element center and radiates out on all sides, in a circle.
        border-radius: 50%;
        height: 5rem;
        position: fixed; // Does not change position as page is scrolled.
        right: 6.5rem;
        top: 6.5rem; 
        // Cubic bezier - used to create custom trans timing 
        transition: transform .8s cubic-bezier(0.86, 0, 0.07, 1); // Animates the menu when it opens. 

        //transform: scale(100); // Creates the effect of the circle expanding to fill the page. 

        width: 5rem;
        z-index: 1000;
    }
    &__nav {
        //background-color: $color-secondary-dark; // Does cool effect. Could be useful to use in a future project.
        height: 100vh;
        opacity: 0; // In it's initial state, hides the navigation menu. 
        position: fixed;
        left: 0;
        top: 0;
        transition: all .8s cubic-bezier(0.68, -0.55, 0.265, 1.55); // Animates the menu when it opens. 
        width: 0; 
        z-index: 1500;
    }
    &__list {
        @include absoluteCenter;
        list-style: none;
        text-align: center;
        width: 100%;
    }
    &__item {
        margin: 1rem // Adds a margin between the nav menu links. 
    }
    &__link {
        &:link,
        &:visited {
            background-image: linear-gradient(120deg, transparent 0%, transparent 50%, $color-white 50%);
            background-size: 220%;
            color: $color-white;
            display: inline-block;
            font-size: 3rem;
            font-weight: 300;
            padding: 1rem 2rem;
            text-decoration: none;
            text-transform: uppercase;
            transition: all .4s;
            span {
                display: inline-block;
                margin-right: 1.5rem;
            }
        }
        &:hover, 
        &:active {
            background-position: 100%;
            color: $color-primary;
            transform: translateX(1rem);
        }
    }
    // For the icon in the navigation menu. 
    &__icon {
        margin-top: 3.5rem;
        position: relative; // Parent element of pseudo-element where position is set to absolute.
        &,
        &::before,
        &::after {
            background-color: $color-dark-grey-1;
            display: inline-block; // Needs to be set.
            height: 2px;
            width: 3rem;
        }
        &::before,
        &::after {
            content: ""; // Needs to be set in order for the before/after pseudo-elements to display.
            left: 0;
            position: absolute;
            transition: all .3s; // Transition declaration needed for the navigation button hover effect below.
        }
        &::before {
            top: -.8rem; // Spacing between the spans/lines in the navigation button. 
        }
        &::after {
            top: .8rem;  // Spacing between the spans/lines in the navigation button. 
        }
    }
    // Handles the hover effect on the navigation button.
    &__button:hover &__icon::before { // Top 'hamburger' line.
        top: -1.2rem;
    }
    &__button:hover &__icon::after { // Bottom 'hamburger' line.
        top: 1.2rem;
    }
    // Handles the click (checked) effect on the navigation button to create the 'X'.
    &__checkbox:checked + &__button &__icon { // The middle 'hamburger' line. 
        background-color: transparent;
    }
    &__checkbox:checked + &__button &__icon::before { // The top 'hamburger' line. 
        top: 0;
        transform: rotate(135deg); // 180deg - 45deg to make a better effect. 
    }
    &__checkbox:checked + &__button &__icon::after { // The bottom 'hamburger' line. 
        top: 0;
        transform: rotate(-135deg); // 180deg - 45deg to make a better effect. 
    }
}