/* Handles the animation for the header elements. */ 
@keyframes moveInLeft {
    /* Before the animation starts = 0% */
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }
    80% {
        transform: translateX(1rem); 
    }
    /* When the animation finishes */
    100% {
        opacity: 1;
        transform: translate(0); /* Will appear as default, or as it would with no animation. */
    }
}
@keyframes moveInRight {
    /* Before the animation starts = 0% */
    0% {
        opacity: 0;
        transform: translateX(10rem);
    }
    80% {
        transform: translateX(-1rem); 
    }
    /* When the animation finishes */
    100% {
        opacity: 1;
        transform: translate(0); /* Will appear as default, or as it would with no animation. */
    }
}
@keyframes moveInBottom {
    /* Before the animation starts = 0% */
    0% {
        opacity: 0;
        transform: translateY(3rem);
    }
    /* When the animation finishes */
    100% {
        opacity: 1;
        transform: translate(0); /* Will appear as default, or as it would with no animation. */
    }
}