/********************** Reset HTML - Sort of boilerplate ********************/
*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%; // 1rem = 10px; 10px/16px = 62.5%. 
    /* For media query mixins.
    ---------------------------
    Option 1 in _mixins.scss:
    ___________________________
    @include respond-phone {
        font-size: 50%;
    }
    @include respond-tablet-p {
        font-size: 60%;
    }
    @include respond-tablet-l {
        font-size: 50%;
    }
    @include respond-xl-desktop {
        font-size: 80%;
    } 
    Option 2 in _mixins.scss:
    ___________________________ */
    @include respond(xlarge-desktop) {
        font-size: 75%; // @content
    }
    @include respond(tablet-landscape) { // width < 900?
        font-size: 56.25%; // @content
        // We want 1rem = 9px; so 9/16 = 56.25%.   
    }
    @include respond(tablet-portrait) { // width < 600?
        font-size: 50%; // @content
        // We want 1rem = 8px; so 8/16 = 50%.
    }
}
body {
    box-sizing: border-box;
    & main {
        color: $color-grey-1;
    }
}