body {
    color: $color-dark-grey;
    font-family: "Lato", Arial, sans-serif;
    font-weight: 400;
    line-height: 1.7;
    padding: 3rem;
}

.primary-heading {
    backface-visibility: hidden; /* Prevents "shaking" when the heading text animates. */
    color: $color-white;
    margin-bottom: 6rem;
    text-transform: uppercase;

    &--main {
        animation: moveInLeft 1s ease-out;
        /* animation-name: moveInLeft; /* Name from keyframes animation called moveInLeft. */
        /* animation-delay: 1s; 
        animation-duration: 1s;
        animation-iteration-count: 2; 
        animation-timing-function: ease-out; */
        display: block;
        font-size: 6rem;
        font-weight: 400;
        letter-spacing: 3.5rem;
    }
    &--sub {
        animation: moveInRight 1s ease-out;
        display: block;
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 1.75rem;
    }
}
.tertiary-heading {
    font-size: $default-font;
    font-weight: 700;
    text-transform: uppercase;
}
.paragraph {
    font-size: $default-font;
    &:not(:last-child) {
        margin-bottom: 3rem;
    }
}